.clients-section {
  width: 100%;
  max-width: 1280px;
  min-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem clamp(1rem, 5vw, 4rem);
  box-sizing: border-box;
}

.clients-title {
  font-size: clamp(1.75rem, 3vw, 2rem);
  font-weight: 600;
  line-height: 2.625rem;
  text-align: center;
  color: #2e3027;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding-inline: 0;
  box-sizing: border-box;
}

.carousel-container {
  overflow-x: hidden;
  overflow-y: visible;
   width: calc(260px * 2 + 2rem); 
  max-width: 100%;
}

.carousel-track {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  transition: transform 0.4s ease-in-out;
  flex-wrap: nowrap;
}

.carousel-button {
  background: #dce7ff;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.375rem;
  cursor: pointer;
  color: #2e3027;
}

.carousel-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

@media (max-width: 1280px) {
  .clients-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1024px) {
  .clients-section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 768px) {
  .clients-section {
    padding: 1rem;
  }
    .carousel-container {
    width: calc(260px + 1rem);
  }
  
  .carousel-track {
    gap: 1rem;
  }
}

@media (max-width: 468px) {
   .carousel-container {
    width: calc(260px + 1rem); 
  }
  
  .carousel-track {
    justify-content: center;
    gap: 1rem;
  }

  .carousel-wrapper {
    padding-inline: 0;
  }
}
