.works-section {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 6rem;
}
.works-title {
  font-size: clamp(1.875rem, 1.5vw, 2rem);
  font-weight: 600;
  line-height: 2.625rem;
  margin-bottom: 1.25rem;
  text-align: center;
  color: #2e3027;
}

.works-wrapper {
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}

@media (max-width: 768px) {
  .works-section {
    padding: 1.5rem 1rem;
  }

  .works-wrapper {
    gap: 1.5rem;
    justify-content: space-between;
  }
}

@media (max-width: 468px) {
  .works-section {
    padding: 1.5rem 1rem;
  }

  .works-title {
    font-size: clamp(1.1rem, 4vw, 1.25rem);
    line-height: 1.6rem;
    margin-bottom: 1rem;
  }

  .works-wrapper {
    gap: 1.25rem;
    flex-direction: column;
    align-items: center;
  }
}
