.hero-section {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: 624px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6b705c;
}

.hero-content-wrapper {
  width: 1080px;
  height: 424px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6b705c;
  gap: 28px;
}

.hero-text {
  width: 557px;
  height: 317px;
  right: 0;
  margin-top: 54px;
  margin-bottom: 54px;
  margin-right: 28px;
  background-color: #c0c6ad;
  border-bottom: 3px solid #2e3027;
  border-top: 3px solid #2e3027;
  border-left: 3px solid #2e3027;
  border-right: 3px solid #2e3027;
  color: #2e3027;
}

.tagline {
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0;
  vertical-align: middle;
  color: #2e3027;
}

.main-title {
  height: 120px;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0;
  vertical-align: middle;
}

.subtext {
  height: 27px;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0;
  color: #2e3027;
}

.pages {
  width: 495px;
  height: 424px;
  gap: 40px;
}

.hero-img {
  width: 495px;
  height: 424px;
  border-bottom: 3px solid #2e3027;
  border-top: 3px solid #2e3027;
  border-left: 3px solid #2e3027;
  border-right: 3px solid #2e3027;
}
