.hero-section {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: clamp(2rem, 5vw, 6.25rem);
  padding-top: clamp(6.5rem, 8vw, 8rem);
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow-x: hidden;
}

.hero-text {
  width: 100%;
  max-width: 34.8rem;
  box-sizing: border-box;
  margin: 3.375rem auto;
  padding: 0 1rem;
  text-align: center;
  color: #2e3027;
}

.tagline {
  font-size: clamp(1.125rem, 1.7vw, 1.25rem);
  font-weight: 600;
  line-height: 1.875rem;
  color: #2e3027;

  animation: fadeInUp 0.6s ease-out forwards;
  animation-delay: 0.1s;
  opacity: 0;
}

.main-title {
  font-size: clamp(2.75rem, 4vw, 3.75rem);
  line-height: clamp(3.125rem, 5vw, 5rem);

  animation: fadeInUp 0.6s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.subtext {
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  font-weight: 400;
  line-height: 1.7rem;
  color: #2e3027;

  animation: fadeInUp 0.6s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.hero-img {
  width: clamp(18rem, 35vw, 31rem);
  height: clamp(18rem, 30vw, 26.5rem);

  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.7s;
  opacity: 0;
}
@media (max-width: 1024px) {
  .hero-section {
    padding-bottom: 2rem;
  }

  .hero-text {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding-bottom: 2rem;
  }

  .hero-text {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 468px) {
  .hero-section {
    padding-bottom: 1.5rem;
      padding-top: clamp(4rem, 8vw, 6rem);
  }

  .hero-text {
    width: 100%;
    margin: 0 auto;
  }

  .main-title {
    font-size: clamp(1.2rem, 1.45vw, 1.4rem);
    line-height: clamp(1.15rem, 1.85vw, 1.85rem);
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .subtext {
    font-size: clamp(1rem, 0.55vw, 1.2rem);
  }

  .hero-img {
    width: clamp(10rem, 60vw, 14rem);
    height: auto;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
