.work-card {
  width: 19.75rem;
  margin-top: 0.625rem;
  margin-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.25rem;
  border-radius: 0.625rem;
  box-sizing: border-box;
  box-shadow: 0 0.125rem 0.5rem #0000001a;
  transition: all 0.3s ease;
}

.work-image {
  width: 50%;
  height: auto;
}

.work-title {
  font-size: clamp(1.125rem, 1.5vw, 1.25rem);
  font-weight: 600;
  color: #4f5b2e;
  margin: 0;
}

.work-description {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  color: #777;
  line-height: 1.4;
  margin: 0;
}

.work-card:hover {
  transform: rotate(2deg);
  box-shadow: 0 0.625rem 1.25rem #00000026;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .work-card {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .work-image {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 468px) {
  .work-card {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
  }

  .work-image {
    width: 50%;
  }
}
