.footer-section {
  width: 1280px;
  height: 669px;
  margin-top: 0;
  margin: auto;
  background-color: #6b705c;
}

.info-footer {
  width: 1080px;
  height: 529px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #c0c6ad;
  padding-top: 70px;
  box-sizing: border-box;
}
