.footer-section {
  max-width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem clamp(1rem, 5vw, 2rem);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.info-footer {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 4.375rem 1rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: nowrap;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-section {
    padding: 1rem;
  }

  .info-footer {
    padding: 2.375rem 1rem 0;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 468px) {
  .footer-section {
    padding: 1.5rem;
  }

  .info-footer {
    max-width: 395px;
    padding: 1.775rem 1.225rem 0;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
