.logos-sections {
  width: 1280px;
  height: 167px;
  margin: 0 auto;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6b705c;
}

.logos {
  width: 1080px;
  height: 167px;
  border-top: 2px solid #463737;
  border-bottom: 2px solid #463737;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  background-color: #c0c6ad;
}

.logos p {
  margin: auto;
}
